# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
.env
.env.*

# Conda
.conda/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# OS Files
.DS_Store
Thumbs.db

data/raw/